<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginacessapp">
    <!-- qr code -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginAcessApp">
        <activity
            android:name=".qrscanner1"
            android:exported="false" />
        <activity
            android:name=".QRScanRec"
            android:exported="false" />
        <activity
            android:name=".jurynavbar"
            android:exported="false" />
        <activity
            android:name=".addTeam"
            android:exported="false" />
        <activity
            android:name=".addUser"
            android:exported="false" />
        <activity
            android:name=".juryActivity"
            android:exported="false" />
        <activity
            android:name=".recActivity"
            android:exported="false"/>
        <activity
            android:name=".recnavbar"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homologation.JuniorActivity"
            android:exported="false" />
        <activity
            android:name=".homologation.AcceuilActivity"
            android:exported="false" />
        <activity
            android:name=".homologation.AutonomeActivity"
            android:exported="false" />
        <activity
            android:name=".homologation.InputActivity"
            android:exported="false" />
        <activity
            android:name=".homologation.SuiveurActivity"
            android:exported="false" />
        <activity
            android:name=".homologation.ToutTerrainActivity"
            android:exported="false" />
        <activity
            android:name=".QRScanner"
            android:exported="false" />
    </application>

</manifest>